<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  @entryPointStyles('app')
  @entryPointScripts('app')

  <title>System</title>
</head>
<body>  
  <nav class="navbar navbar-expand-lg navbar-light bg-light ">
    <div class="container">
      <a class="navbar-brand" href="{{ route('root') }}">Rifas</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado" aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
        <span class="navbar-toggler-icon"></span>
      </button>
    
      <div class="collapse navbar-collapse" id="conteudoNavbarSuportado">
        <ul class="navbar-nav me-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{{ route('raffles.index') }}">rifas <span class="sr-only"></span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{{ route('raffles.explorer') }}">Explorar <span class="sr-only"></span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="{{ route('types.create') }}">Tipos <span class="sr-only"></span></a>
          </li>
        </ul> 
        <ul class="navbar-nav">
          @if(auth.isLoggedIn)
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{ auth.user?.name }}
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="{{ route('auth.logout') }}">Sair</a></li>
              </ul>
            </li>
          @else
            <li class="nav-item">
              <a class="nav-link" href="{{ route('auth.login') }}">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ route('auth.register') }}">Registrar</a>
            </li>
          @endif
        </ul>
      </div>
    </div>
  </nav>
     
  <div class="container page-body">
    @!section('content')
  </div>
</body>
</html>