@layout('layout/app')

@section('content')
  <h1>Projeto Final</h1>
  <p>Desenvolvedor: <strong>Helena Károl Dias Pinheiro Maia</strong></p>
  <p>Esse é um projeto proposto para a finalização da disciplina de desenvolvimento web</p>
  <p>proposta pelo professor Diego Stiehl</p>
  <a href="{{ route('root') }}" class="btn btn-link">
    Voltar
 </a>
@endsection

