@layout('layout/app')

@section('content')
<div>
  <div class="mb-3">
    <h2>Atualizando rifa</h2>
  </div>
  <form action="{{ route('raffles.update', { id: raffle.id, qs: { _method: 'PATCH' } }) }}" method="POST">
    @include('raffles/form')
  
    <div>
      <button type="submit" class="btn btn-primary">Atualizar</button>
      <a href="{{ route('raffles.index') }}" class="btn btn-link">Voltar</a>
    </div>
  </form>
</div>
@endsection