@layout('layout/app')

@section('content')
<div>
  <button href="{{ route('raffles.create') }}" class="btn btn-primary">
      Nova rifa
  </button>
</div>
<div class="raffles">
  <ul class="list-group mt-3">
    @each(raffle in raffles)
      <li class="list-group-item d-flex justify-content-between">
        <div class="name">{{ raffle.title }}</div>
      </li>
    @endeach
  </ul>
</div>

<div>
  <a href="{{ route('root') }}" class="btn btn-link">
    Voltar
  </a>
</div>
@endsection