@layout('layout/app')

@section('content')
<div>
  
  <h1>Programa de rifas por Bruna Kailane e Helena Maia</h1>
  <p>Instituto Federal do Paraná</p>
  <p>14 de junho de 2021</p>
 
</div>

@endsection